<!DOCTYPE html>
<html class="user_sessions_new fontface js" data-request-id="dfeb1f75-9b30-4e37-9a48-992718712628" lang="en">
   <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# kickstarter: http://ogp.me/ns/fb/kickstarter#">

      <link href="https://static.kickstarter.com/favicon.ico" rel="icon" type="image/x-icon">      
   </head>
   <body class="frame user_sessions not-mobile not-phone not-mobile-safari not-chrome-ios not-forces-video-controls not-tablet not-ipad not-iphone not-ios not-android not-touchable not-native-app-request not-apple-pay-capable not-android-pay-capable responsive" id="user_sessions_new">
      <%= render 'login_signup_header' %>
      <main role="main">
         <div id="growl_section" class="center jGrowl"></div>
         <div id="main_content">
         <div class="bg-grey-light" id="login-signup">
            <div class="py3 py10-sm px3">
               <div id="user-account-form">
                  <div class="rounded-content-frame rounded-content-frame--white">
                     <div class="rounded-content-frame__content current" id="login">
                       <% if notice %>
                         <div style="text-align: center; font-weight: bold; padding-bottom: 0px" class="btn btn--green btn--block submit">
                           <p>User created successfully!</p>
                           <p>Login to EXPLORE</p>
                         </div>
                        <% end %>
                        <h2 class="title">
                           Log in
                        </h2>
                        <div class="mb3">
                          <%= form_tag login_path, class: 'form-simple', role: 'form', id: "new_user_session", "accept-charset"=> "UTF-8", method: :post do %>
                            <fieldset class="mb2">
                              <ol>
                                <li class="mb3">
                                   <%= text_field_tag :email, '', class: 'input-text full-width js-auto_focus email', placeholder: 'Email', spellcheck: 'false', autocorrect: 'off', autocapitalize: 'off', autofocus: 'autofocus', id: 'user_session_email' %>
                                </li>
                                <li class="mb3 relative">
                                  <div class="relative">
                                    <%= text_field_tag :password, '', class: 'input-text full-width js-auto_focus fs-hide password', type: 'password', placeholder: 'Password', id: 'user_session_password' %>
                                  </div>
                                </li>
                                <li class="clearfix">
                                  <button type="submit" class="btn btn--green btn--block submit">Log me in!</button>
                                   <div class="remember-me">
                                      <div class="pt2">
                                         <input name="user_session[remember_me]" type="hidden" value="0" class="hidden"><input type="checkbox" value="1" checked="checked" name="user_session[remember_me]" id="user_session_remember_me" class="checkbox">
                                         <label class="label-checkbox f5 grey-dark" for="user_session_remember_me">Remember me</label>
                                      </div>

                                      <% if alert %>
                                        <div style="color: red; font-weight: bold" class="jGrowl-message">
                                          <p>The email address and password you entered do not match.</p>
                                        </div>
                                      <% end %>
                                   </div>
                                </li>
                              </ol>
                            </fieldset>
                          <% end %>
                        </div>
                        <div class="rounded-content-frame__footer">
                           New to Kickstarter?
                           <a class="bold js-switch-to-signup" href="/signup">Sign up!</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
   </body>
</html>
