<div class="site-nav-frame js-site-nav-container" role="navigation">
   <div class="site-nav-container site-nav-container--search" id="js-nav-search" aria-hidden="true">
      <div class="site-nav-unit site-nav-unit--search">
         <nav class="site-nav-base site-nav--search">
            <div class="site-nav__left">
               <div class="site-nav__item site-nav__item--searchbar js-searchbar js-header-livesearch">
                  <form class="site-nav__search-form" role="search" action="/projects/search" accept-charset="UTF-8" method="get">
                     <input name="utf8" type="hidden" value="✓">
                     <svg class="svg-icon__search js-search-icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
                     </svg>
                     <svg class="svg-icon__loading-spin js-loading-spinner hide" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loading-spin"></use>
                     </svg>
                     <input type="text" name="term" id="term" aria-label="Search projects" data-tracker-name="Header Live Search" placeholder="Search" class="site-nav__search-input js-search-term text" maxlength="200" tabindex="-1" autocomplete="off">
                  </form>
               </div>
            </div>
            <div class="site-nav__right">
               <button aria-label="Close Search" class="site-nav__item site-nav__item--close js-toggle-search" data-nav="primary" href="#">
                  <svg class="svg-icon__close" aria-hidden="true">
                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
                  </svg>
               </button>
            </div>
         </nav>
      </div>
   </div>
   <div class="site-nav-container site-nav-container--main active-nav--primary">
      <div class="site-nav-unit site-nav-unit--primary" id="js-nav-primary">
         <nav class="site-nav-base site-nav--primary">
            <h2 class="for-screenreader" id="main-navigation">Main menu</h2>
            <div class="site-nav__left">

            </div>
            <div class="site-nav__middle">               
            </div>
            <div class="site-nav__right">
               <a aria-label="Enter Search" class="site-nav__item site-nav__item--search js-toggle-search" data-nav="search" href="#">
                  <svg class="svg-icon__search" aria-hidden="true">
                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
                  </svg>
                  <span class="site-nav__item-label">Enter Search</span>
               </a>
               <a class="site-nav__item site-nav__item--text" href="/login">
               <span class="site-nav__item-label">Log in</span>
               </a>
               <a class="site-nav__item site-nav__item--text site-nav__item--signup" href="/signup">
               <span class="site-nav__item-label">Sign up</span>
               </a>
            </div>
         </nav>
      </div>
   </div>
</div>
