<div class="user-menu">
   <div class="NS_layouts__user_dropdown column-span-2" data-user_dropdown_backer_creator_columns_path="/users/dropdown_backer_creator_columns" id="js-user_menu_dropdown" aria-expanded="false" aria-hidden="true">
      <div class="user-dropdown js-user-dropdown z9000">
         <div class="user-options" id="menu-me-children">
            <div class="menu-me-account dropdown-column" id="menu-me-account">
               <h3 class="dropdown-menu-header">
                  My stuff
               </h3>
               <ul class="js-dropdown_group dropdown-menu">
                  <li>
                     <a href="/profile/following/find_creators?ref=user_menu">Follow creators</a>
                     <span class="flag-callout">New</span>
                  </li>
                  <li>
                     <a href="/profile/following/welcome?ref=user_menu">Follow Facebook friends</a>
                  </li>
                  <li><a href="/recommendations?ref=user_menu">Recommended for you</a></li>
                  <li>
                     <a title="Inbox" href="/messages?ref=user_menu">Messages
                     </a>
                  </li>
                  <li>
                     <a title="Activity" href="/activity?ref=user_menu">Activity
                     </a>
                  </li>
                  <li><a href="/profile/46676441?ref=user_menu">Profile</a></li>
                  <li><a href="/profile/backings?ref=user_menu">Backed projects</a></li>
                  <li><a href="/profile/projects?ref=user_menu">My projects</a></li>
                  <li>
                     <a href="/profile/starred?ref=user_menu">Saved projects
                     </a>
                  </li>
               </ul>
               <h3 class="dropdown-menu-header">
                  Settings
               </h3>
               <ul class="js-dropdown_group dropdown-menu">
                  <li><a href="/settings/account?ref=user_menu">Account</a></li>
                  <li><a href="/settings/profile?ref=user_menu">Edit profile</a></li>
                  <li><a href="/settings/notifications?ref=user_menu">Notifications</a></li>
               </ul>
            </div>
         </div>
         <div class="user-menu-footer">
            <div class="row">
               <div class="col">
                  You're logged in as <b>Nandu</b>
                  &nbsp;
                  <span class="mobile-show"></span>
                  <a href="/logout?ref=user_menu">Log out</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
